<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
 * @package     Intelipost_Pickup
 * @copyright   Copyright (c) 2019 Intelipost (http://www.intelipost.com.br/)
 * @author      Israel Guido <israelguido@gmail.com>
 */
-->

<config>
    <event name="sales_order_load_after">
        <observer name="intelipost_pickup_load_sales_order" instance="Intelipost\Pickup\Observer\Sales\OrderLoadAfter" />
    </event>
    <event name="sales_order_save_after">
        <observer name="intelipost_pickup_save_sales_order" instance="Intelipost\Pickup\Observer\Sales\OrderSaveAfter" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="intelipost_pickup_save_sales_quote" instance="Intelipost\Pickup\Observer\Sales\SavePickupToOrderObserver"/>
    </event>

</config>

