<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
 * @package     Intelipost_Pickup
 * @copyright   Copyright (c) 2019 Intelipost (http://www.intelipost.com.br/)
 * @author      Israel Guido <israelguido@gmail.com>
 */
-->

<config>
    <router id="standard">
        <route id="intelipost_pickup" frontName="intelipost_pickup">
            <module name="Intelipost_Pickup" />
        </route>
    </router>
</config>


